body{
  font-family: 'Kanit', sans-serif;
  border: 3px solid #928b06;
  margin: 0;
  padding: 0;
  background: image 20px;;
    
  
}

a{
 align-items: center;
  font-size: 50px;
  text-shadow: 1cm;
  color: darkgoldenrod;
  width: 20px;
  height: 20px;
  font-family: 'Oswald', sans-serif;

  
}
section{
  display: flex;
  width: fill;
  height: 900px;
  
}
section img{
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: .8;
  transition: .5s ease;
}
section img:hover{
  cursor: crosshair;
  width: 650px;
  height: 105%;
  opacity: 1;
  filter: contrast(120%);
}

h1{
  text-align: center;
  text-decoration-color: darkgoldenrod;
  font-size: medium;
  width: 800px;
  
  

}

h2{
  text-align: center;
  text-decoration-color: white;
  font-size: 50px;
  text-shadow: 2px 2px 4px rgba(255, 213, 4, 0.867);
}
h3{
  text-align: center;
  text-decoration-color: white;
  font-size: 50px;
  width: 800px;
}
h4{
  
  text-decoration-color: white;
  font-size: 20px;
  width: 1000px;
  text-align: center;
}
img{
  image-rendering: optimizeQuality;
  height: 700px;
  width: 1000px;
  text-align: center;
  border: ridge darkgoldenrod 2px;
  border-radius: 10px;
}

div image{
  width:20px ;
  height:20px;

}

button {
  text-decoration:none;
  font-weight: 600;
  font-size: 20px;
  color:#877c04;
  padding-top:15px;
  padding-bottom:15px;
  padding-left:40px;
  padding-right:40px;
  background-color:#000000;
  border-color: #877c04;
  border-width: 3px;
  border-style: solid;
  border-radius:35px;
  cursor: pointer;
  }
